    $(function() {
        timer = setInterval( function () {
            //----------------------------------------------------------------------------------
            $.getJSON('127.0.0.1:9998', function(data) {
            $.each(data, function(firstHourTrades, element) {
                $("#fps1").append($('<span>', {
                    text: element.data
                }));
            });
        }, 10000); 
    });


----------------


#         setInterval("calMethod()",1000);
#
# function calMethod() {
#     $.ajax({
#         cache : false,
#         url : 'http://127.0.0.1:9998',
#         success : function(data) {
#         alert(JSON.stringify(data))
#
#         }
#         });
# }